/*Add CSS styles here*/

#map {
    height: 600px;
    width: 80%;
    display: inline-block;
    border: solid gray 5px; 
}
.sequence-control-container {  
    width: 350px;  
    height: 30px;  
    background-color: rgba(255,255,255,0.8);  
    padding: 10px;  
    line-height: 45px;  
    text-align: center;  
    border: solid gray 1px;  
}  

.range-slider {  
    width: 250px;  
}  

.step {  
    width: 40px;  
}  

.step img {  
    width: 100%;  
    height: auto;  
} 

.leaflet-popup-content p {
    margin: 0.2em 0;
}

#forward {
    float: right;
    }

#reverse {  
    float: left;  
}

#year {  
    text-align: center;
    vertical-align: middle; 
    line-height: 10px;  
}

.legend-control-container {  
    width: 200px;  
    height: 120px;  
    background-color: rgba(255,255,255,0.8);  
    padding: 10px;  
    line-height: 45px;  
    text-align: center;  
    border: solid gray 1px;  
}  

#title {
    height: 100px;
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-family:Arial, Helvetica, sans-serif;
    vertical-align: middle; 
    line-height: 100px;  
}